.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.post-preview {
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
}

.post-preview:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.posts-list:not(:first-child) {
  margin-top: 50px;
}

.posts-list h2 {
  margin-bottom: 30px;
  color: #f1356d;
}

.btn {
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 10px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
